<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Computer Lab Assistant</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Texas Arlington</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Provide academic support to students through assistance with software applications and to provide clerical duties necessary for laboratory operation. Responsible for knowledge of software provided in laboratories and rudimentary maintenance of computer hardware</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Blue Zorro PVT. Ltd</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked on JAVA based web development projects based on J2EE, Spring MVC Hibernate framework. Worked on web applications such as Carbonated.tv</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Siemens Engineering Co. Ltd.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>A rotational internship of learning About SAP modules and Fujitsu Supercomputers</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Nokia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed J2ME mobile application for Nokia Symbian phones </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->