<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Projects I have done so far:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Information retrieval system</a></span> - <span class="project-tagline">Created Information retrieval system based on Apache Hadoop and Apache Spark that returns query result containing word with highest TD-IDF value.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/Low-cost-IP-for-Traffic-Monitoring/blob/master/low%20cost%20IP%20camera%20for%20traffic%20monitoring.pdf" target="_blank">Low cost I.P camera for traffic monitoring</a></span> - 
                    <span class="project-tagline">An economical Internet protocol camera built using AVR Microcontroller to control traffic congestion using image processing algorithms. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Web app using XAMP stack</a></span> - <span class="project-tagline">An e-cart system developed in PHP with session handling, finding weather conditions by clicking on google maps using google maps API.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/Computer-Vision/tree/master/Final_Project" target="_blank">Crowd Analysis using Computer Vision</a></span> - <span class="project-tagline">Counting number of people in a public place using cascade classifier,HOG,KLT tracker, mean-shift tracker with kalaman filter, clustering and regression techniques. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Yelp Food Recommendation System</a></span> - <span class="project-tagline">Restaurant recommendations to users that best matches their profile using Cascaded KNN clustering on Yelp challenge dataset. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/Robotic-Arm" target="_blank">Robotic Arm</a></span> - <span class="project-tagline">Built a robotic arm  using lego kit that can move a marker mounted at its end across a piece of paper to draw arbitrary polygons given to it (at compile time) </span>
                </div><!--//item-->
            </section><!--//section-->