 <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Projects I have done so far:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/Information-Retrieval-System">Information retrieval system</a></span> - <span class="project-tagline">Created Information retrieval system based on Apache Hadoop and Apache Spark that returns query result containing word with highest TD-IDF value.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/Low-cost-IP-for-Traffic-Monitoring/blob/master/low%20cost%20IP%20camera%20for%20traffic%20monitoring.pdf" target="_blank">Low cost I.P camera for traffic monitoring</a></span> - 
                    <span class="project-tagline">An economical Internet protocol camera built using AVR Microcontroller to control traffic congestion using image processing algorithms. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/Web-Mashup-Display-Address-with-Weather-Details" target="_blank">Web app using XAMP stack</a></span> - <span class="project-tagline">Finding weather conditions by clicking on google maps using google maps API.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/Computer-Vision/tree/master/Final_Project" target="_blank">Crowd Analysis using Computer Vision</a></span> - <span class="project-tagline">Counting number of people in a public place using cascade classifier,HOG,KLT tracker, mean-shift tracker with kalaman filter, clustering and regression techniques. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/Yelp-Food-Recommendation-System" target="_blank">Yelp Food Recommendation System</a></span> - <span class="project-tagline">Restaurant recommendations to users that best matches their profile using Cascaded KNN clustering on Yelp challenge dataset. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/Robotic-Arm" target="_blank">Robotic Arm</a></span> - <span class="project-tagline">Built a robotic arm  using lego kit that can move a marker mounted at its end across a piece of paper to draw arbitrary polygons given to it (at compile time). </span>
                </div><!--//item-->
                </div><!--//item--><div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/maps" target="_blank">US congressional district interactive map</a></span> - <span class="project-tagline">developed an interactive US congressional district map for Congressional App Challenge, a project of Internet Eduaction Foundation.The map shows the winners of 2017 Congressonal App Challenge. <a href="http://www.congressionalappchallenge.us/about/2017-winners/" target="_blank">click here to see demo</a></span>
                </div><!--//item-->
                </div><!--//item--><div class="item">
                    <span class="project-title"><a href="https://github.com/mtayyab-s/LAMP-Stack-E-cart" target="_blank">Lamp Stack E-cart</a></span> - <span class="project-tagline">developed an online bookstore with ecart using LAMP stack(Linux, Apache, MySql, PHP) with session handling</span>
                </div><!--//item-->
                
            </section><!--//section-->